6.데이터 선택(기본)

In [4]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
import pandas as pd
df = pd.read_excel('/content/gdrive/MyDrive/dataframework/pandas/pandas_study/score.xlsx',index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#


#column 선택(label)

In [6]:
df['이름']

지원번호
1번    채치수
2번    정대만
3번    송태섭
4번    서태웅
5번    강백호
6번    변덕규
7번    황태산
8번    윤대협
Name: 이름, dtype: object

In [7]:
df[['이름','키']]

       이름    키
지원번호
1번    채치수  197
2번    정대만  184
3번    송태섭  168
4번    서태웅  187
5번    강백호  188
6번    변덕규  202
7번    황태산  188
8번    윤대협  190

colmn선택 (정수 index)

In [9]:
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기'], dtype='object')

In [12]:
df.columns[0]

'이름'

In [13]:
df[df.columns[0]] # == df['이름'] 데이터 양이 많을때 편리

지원번호
1번    채치수
2번    정대만
3번    송태섭
4번    서태웅
5번    강백호
6번    변덕규
7번    황태산
8번    윤대협
Name: 이름, dtype: object

In [14]:
df[df.columns[-1]] #맨 끝에 있는 값을 가져올 수 있음

지원번호
1번        Python
2번          Java
3번    Javascript
4번           NaN
5번           NaN
6번             C
7번        PYTHON
8번            C#
Name: SW특기, dtype: object

슬라이싱

In [15]:
df['영어'][0:5] # 0~4까지의 데이터 가져옴

지원번호
1번    85
2번    35
3번    75
4번    60
5번    20
Name: 영어, dtype: int64

In [16]:
df[['이름','키']][:3] #처음 3명의 이름 , 키 정보 가져옴

       이름    키
지원번호
1번    채치수  197
2번    정대만  184
3번    송태섭  168

In [17]:
df[3:]

       이름   학교    키   국어   영어  수학  과학  사회    SW특기
지원번호
4번    서태웅  북산고  187   40   60  70  75  80     NaN
5번    강백호  북산고  188   15   20  10  35  10     NaN
6번    변덕규  능남고  202   80  100  95  85  80       C
7번    황태산  능남고  188   55   65  45  40  35  PYTHON
8번    윤대협  능남고  190  100   85  90  95  95      C#

#데이터 선택(loc)
이름을 이용하여 원하는 row에서 원하는 col 선택

In [18]:
df.loc['1번'] #index 1번에 해당하는 전체 데이터

이름         채치수
학교         북산고
키          197
국어          90
영어          85
수학         100
과학          95
사회          85
SW특기    Python
Name: 1번, dtype: object

In [19]:
df.loc['1번','국어'] #index 1번의 국어 성적

90

In [20]:
df.loc[['1번','2번'],['국어','영어']] #1번 2번의 국어 성적 , 영어 성적

      국어  영어
지원번호
1번    90  85
2번    40  35

In [24]:
df.loc['1번':'5번','국어':'사회'] #index 1번부터 5번 까지 , 국어부터 사회 성적 index 정수랑로 하는 방식과 다름

      국어  영어   수학  과학  사회
지원번호
1번    90  85  100  95  85
2번    40  35   50  55  25
3번    80  75   70  80  75
4번    40  60   70  75  80
5번    15  20   10  35  10

데이터 선택 (iloc) integer location
위치를 이용하여 원하는 row 에서 원하는 col 선택

In [25]:
df.iloc[0] #0번째 위치의 데이터 가져옴

이름         채치수
학교         북산고
키          197
국어          90
영어          85
수학         100
과학          95
사회          85
SW특기    Python
Name: 1번, dtype: object

In [26]:
df.iloc[0:5] # 0~4번째 위치의 데이터

       이름   학교    키  국어  영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85      Python
2번    정대만  북산고  184  40  35   50  55  25        Java
3번    송태섭  북산고  168  80  75   70  80  75  Javascript
4번    서태웅  북산고  187  40  60   70  75  80         NaN
5번    강백호  북산고  188  15  20   10  35  10         NaN

In [27]:
df.iloc[0,1] #0번째 위치의 1번째 데이터

'북산고'

In [28]:
df.iloc[[0,1],2] #0,1 번째의 2번째 데이터

지원번호
1번    197
2번    184
Name: 키, dtype: int64

In [29]:
df.iloc[[0,1],[4,5]] #0,1번째 위치의 4,5 번째 데이터

      영어   수학
지원번호
1번    85  100
2번    35   50

In [30]:
df.iloc[0:5 , 3:8] #슬라이싱엔 따로 대괄호 안해줘도 됨

      국어  영어   수학  과학  사회
지원번호
1번    90  85  100  95  85
2번    40  35   50  55  25
3번    80  75   70  80  75
4번    40  60   70  75  80
5번    15  20   10  35  10

데이터 선택 (조건)
조건에 해당하는 데이터 가져오기

In [31]:
df['키'] >= 185

지원번호
1번     True
2번    False
3번    False
4번     True
5번     True
6번     True
7번     True
8번     True
Name: 키, dtype: bool

In [32]:
filt = (df['키'] >= 185)
df[filt]

       이름   학교    키   국어   영어   수학  과학  사회    SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85  Python
4번    서태웅  북산고  187   40   60   70  75  80     NaN
5번    강백호  북산고  188   15   20   10  35  10     NaN
6번    변덕규  능남고  202   80  100   95  85  80       C
7번    황태산  능남고  188   55   65   45  40  35  PYTHON
8번    윤대협  능남고  190  100   85   90  95  95      C#

In [34]:
df[~filt] # ~을 앞에 붙히면 역필터

       이름   학교    키  국어  영어  수학  과학  사회        SW특기
지원번호
2번    정대만  북산고  184  40  35  50  55  25        Java
3번    송태섭  북산고  168  80  75  70  80  75  Javascript

In [35]:
df.loc[filt,'수학']

지원번호
1번    100
4번     70
5번     10
6번     95
7번     45
8번     90
Name: 수학, dtype: int64

In [37]:
df.loc[filt,['수학','과학','사회']]

       수학  과학  사회
지원번호
1번    100  95  85
4번     70  75  80
5번     10  35  10
6번     95  85  80
7번     45  40  35
8번     90  95  95

다양한 조건

&

In [40]:
df.loc[(df['키']>= 185) & (df['학교']=='북산고')]

       이름   학교    키  국어  영어   수학  과학  사회    SW특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85  Python
4번    서태웅  북산고  187  40  60   70  75  80     NaN
5번    강백호  북산고  188  15  20   10  35  10     NaN

or |

In [42]:
df.loc[(df['키']<170)|(df['키']>200)]

       이름   학교    키  국어   영어  수학  과학  사회        SW특기
지원번호
3번    송태섭  북산고  168  80   75  70  80  75  Javascript
6번    변덕규  능남고  202  80  100  95  85  80           C

str 함수

In [46]:
filt = df['이름'].str.startswith('송')
df[filt]

       이름   학교    키  국어  영어  수학  과학  사회        SW특기
지원번호
3번    송태섭  북산고  168  80  75  70  80  75  Javascript

In [47]:
filt = df['이름'].str.contains('태')
df[filt]

       이름   학교    키  국어  영어  수학  과학  사회        SW특기
지원번호
3번    송태섭  북산고  168  80  75  70  80  75  Javascript
4번    서태웅  북산고  187  40  60  70  75  80         NaN
7번    황태산  능남고  188  55  65  45  40  35      PYTHON

In [48]:
langs = ['Python','Java']
filt = df['SW특기'].isin(langs)
df[filt]

       이름   학교    키  국어  영어   수학  과학  사회    SW특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85  Python
2번    정대만  북산고  184  40  35   50  55  25    Java

In [51]:
langs = ['python','java']
filt = df['SW특기'].str.lower().isin(langs)
df[filt]

       이름   학교    키  국어  영어   수학  과학  사회    SW특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85  Python
2번    정대만  북산고  184  40  35   50  55  25    Java
7번    황태산  능남고  188  55  65   45  40  35  PYTHON

In [52]:
filt = df['SW특기'].str.lower().isin(langs)
df[filt]

       이름   학교    키  국어  영어   수학  과학  사회    SW특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85  Python
2번    정대만  북산고  184  40  35   50  55  25    Java
7번    황태산  능남고  188  55  65   45  40  35  PYTHON

In [58]:
filt = df['SW특기'].str.contains('Java', na = False) #nan 데이터 False 로 설정
df[filt]

       이름   학교    키  국어  영어  수학  과학  사회        SW특기
지원번호
2번    정대만  북산고  184  40  35  50  55  25        Java
3번    송태섭  북산고  168  80  75  70  80  75  Javascript

In [59]:
filt = df['SW특기'].str.contains('Java') #nan 데이터 있어서 오류남
df[filt]

ValueError: ignored